# Files with personal details
*.crt
*.csr
*.cprof
*.key
*.log
*.log.*
.google_maps_location_sharing.cookies.cloosquentin2_gmail_com
.uuid
.shopping_list.json
SERVICE_ACCOUNT.JSON
aircast.xml
icloud/
automations.yaml
google_calendars.yaml
groups.yaml
scenes.yaml
scripts/
scripts.yaml
hass-emulated-hue/
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
harmony_16148850.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tradfri.conf
aircast.xml
blueprints/
image/
config/
double-take/
python_scripts/
faces/
frigate.yml
glances/
.storage/
.storage
storage
*.db-journal
*.pid
tts
deps
lib
snapshots/
statistics/
qr-wifi.png
qr-wifi-2.png
video-camera.png

# Log files
home-assistant.log
ozw_log.txt

# Development files
custom_components/

# End of https://mrkandreev.name/snippets/gitignore-generator/#HomeAssistant